{
    "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file",
        "This file is @generated automatically"
    ],
    "hash": "a78171c2b0e3ec88ee31d13b0960b85e",
    "content-hash": "f23a8465bd08205d44d530e38089f274",
    "packages": [
        {
            "name": "robrichards/xmlseclibs",
            "version": "2.0.0",
            "source": {
                "type": "git",
                "url": "https://github.com/robrichards/xmlseclibs.git",
                "reference": "1b78df099c107279e9069a7b7608be98fd530dfd"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/robrichards/xmlseclibs/zipball/1b78df099c107279e9069a7b7608be98fd530dfd",
                "reference": "1b78df099c107279e9069a7b7608be98fd530dfd",
                "shasum": ""
            },
            "require": {
                "php": ">= 5.3"
            },
            "suggest": {
                "ext/mcrypt": "MCrypt extension",
                "ext/openssl": "OpenSSL extension"
            },
            "type": "library",
            "autoload": {
                "psr-4": {
                    "RobRichards\\XMLSecLibs\\": "src"
                }
            },
            "notification-url": "https://packagist.org/downloads/",
            "license": [
                "BSD-3-Clause"
            ],
            "description": "A PHP library for XML Security",
            "homepage": "https://github.com/robrichards/xmlseclibs",
            "keywords": [
                "security",
                "signature",
                "xml",
                "xmldsig"
            ],
            "time": "2015-07-31 15:08:38"
        }
    ],
    "packages-dev": [],
    "aliases": [],
    "minimum-stability": "stable",
    "stability-flags": [],
    "prefer-stable": false,
    "prefer-lowest": false,
    "platform": {
        "php": ">= 5.3"
    },
    "platform-dev": []
}
